<% layout( 'layout' ) -%>

<div class="row tdc">
    <div class="col-sm-4 squeeze">
     <% if (message.length > 0) { %>
     <% for (var i = 0; i < message.length; i++) { %>
       <div class="alert alert-danger"><%= message[i].msg %></div>
     <% }; %>        
    <% } %>
  <form action="/createdept" style="" method="post" accept-charset="utf-8">
    <table width="100%">
    <tr><td colspan=2> <p style="font-size:16px;">Create new department</p> </td></tr>
      <tr>
        <td>Dept Name</td>
        <td><input class="input" type="text" name="deptName" value="" style="margin-bottom:15px;" /></td>
      </tr>
      <tr>
        <td colspan="2">
        <table width="100%" border="0" class="table table-striped">
        <p>Connect this new deparment to the following stores:</p>
          <% stores.forEach( function ( store ){ %>
          <tr>
            <td valign="middle"><%= store.storeName %></td>
            <td><input type="checkbox" name="storesel[]" style="width:20px; float:right; margin:0; padding:0;" value="<%= store.id %>"></td>
          </tr>               
          <% }); %>
        </table>
        </td>
      </tr>
      <tr><td colspan="2"><button type="submit" class="btnadd btn-xs btn-default-add" style="margin:10px 0; padding: 4px 7px;">Add</button></td></tr>
   </table>
  </form>
</div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 work-list">
    <h3>Departments</h3>
          <div class="work-space">
          <table width="100%" border="0" class="table table-striped">

            <% dept.forEach( function ( item ){ %>
            <tr>
                <td style="padding:5px"><a class="update-link" href="/editdept/<%= item._id %>" title="Update this store"><%= item.deptName %></a></td>
                <td align="right"><a href="/destroydept/<%= item._id %>"><img src="/images/x.png" width="15px"></a></td>
            </tr>
            <% }); %>
          
          </table>
          </div>
        </div>
    </div>
