<% layout( 'layout' ) -%>

<h2><%= title %></h2>


<% list.forEach( function ( item ){ %>
    <% if( item._id == current ){ %>
    <div class="row">
    <div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Edit <%= item.productName %></h3></div>
          <div class="panel-body">
    <form action="/update/<%= item._id %>" method="post" accept-charset="utf-8">
    <table width="100%">
      <tr>
        <td>Quantity</td>
        <td><input class="input" type="number" name="quantity" value="<%= item.quantity %>" /></td>
      </tr>
      <tr>
        <td>Product</td>
        <td><input class="input" type="text" name="productName" value="<%= item.productName %>" /></td>
      </tr>
      <tr>
        <td>Store</td>
        <td>
          <select name='store' id="store" class="dropinput">
            <% stores.forEach( function ( store ){ %>
              <% if(item.store == store.storeName){ %>
                <option value="<%= store.id %>" selected="selected"><%= store.storeName %></option>
              <% } else { %>
                <option value="<%= store.id %>"><%= store.storeName %></option>
              <% } %>
            <% }); %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Departments</td>
        <td>
          <select name='dept' id="dept" class="dropinput">
            <% dept.forEach( function ( dept ){ %>
              <% if(item.dept == dept.id){ %>
                <option value="<%= dept.id %>" selected="selected"><%= dept.deptName %></option>
              <% } else { %>
                <option value="<%= dept.id %>"><%= dept.deptName %></option>
              <% } %>
            <% }); %>
          </select>
        </td>
      </tr>
      <tr>
          <td colspan="2"><button type="button" onClick="location.href='/destroy/<%= item._id %>'" class="btn btn-xs btn-danger">Del</button>
      <button class="btn btn-xs btn-success right" type="submit">Save</button></td>
      </tr>
      </table>
  </form>
  </div></div>
  </div>
  </div>

  <% } %>
  <% }); %>

  </div>
  </div>