<% layout( 'layout' ) -%>


<% stores.forEach( function ( item ){ %>

    <% if( item._id == current ){ %>
    
<div class="row tdc squeeze">
    <div class="col-sm-4 work-list">
      <h3>Edit <%= item.storeName %></h3>
          <div class="work-space">
    
            <form action="/updatestore/<%= item._id %>" method="post" accept-charset="utf-8">
              <input type="text" name="storeName" value="<%= item.storeName %>" />
              <input type="text" name="address" value="<%= item.address %>" />
              <br>
              <button type="button" onClick="location.href='/destroystore/<%= item._id %>'" class="btnadd btn-xs btn-danger"  style="margin:10px 0; padding: 4px 7px;">Del</button>
              <button type="submit" class="btnadd btn-xs btn-default-add" style="margin:10px 10px 10px 0; padding: 4px 7px;">Save</button>
            </form>

          </div>
        </div>
    </div>


    <% } %>


<% }); %>
</div>
