<% layout( 'layout' ) -%>


<div class="row">
    <div class="col-sm-4">

  <form action="/create" method="post" accept-charset="utf-8">
  <tr><td colspan=2> <strong>Create new shopping item</strong> </td></tr>
	    <table width="100%">
		    <tr>
		    	<td>Quantity</td>
		    	<td><input class="input" type="number" name="quantity" value="1" /></td>
		    </tr>
		    <tr>
		    	<td>Product</td>
		    	<td><input class="input" type="text" name="productName" /></td>
		    </tr>
		    <tr>
		    	<td>Dept</td>
		    	<td><select name='dept' class="dropinput"> 
		    			<% dept.forEach( function ( dept ){ %>
		    				<option value="<%= dept.id %>"><%= dept.deptName %></option>
		    			<% }); %>
		    		</select>
		    	</td>
		    </tr>
		    <tr>
		    	<td>Store</td>
		    	<td>
		    	<select name='store' class="dropinput">
		    			<% stores.forEach( function ( item ){ %>
		    				<option value="<%= item.id %>"><%= item.storeName %></option>
		    			<% }); %>
		    	</select>
		    	</td>
		    </tr>
		    <tr>
		    	<td colspan="2"><button type="submit" class="btn btn-xs btn-default">Add</button></td>
		    </tr>
		</table>
  </form>
</div>
</div>


<% stores.forEach( function ( store ){ %>
    <div class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><%= store.storeName %></h3></div>
        <div class="panel-body">
		<% list.forEach( function ( item ){ %>
			<% if(item.store.indexOf(store.id) > -1){ %>
				Store found!
			<% } %>
		<% }); %>

        </div>
      </div>
	</div>


<% }); %>

