<% layout( 'layout' ) -%>


<div class="row">
	<div class="locked"  >
    <div class="col-md-4 col-sm-6 col-xs-12 squeeze">

   	<% if (message.length > 0) { %>
     <% for (var i = 0; i < message.length; i++) { %>
       <div class="alert alert-danger"><%= message[i].msg %></div>
     <% }; %>        
    <% } %>


  <p class="listbutton" data-toggle="collapse" data-target="#topmenu">Create new shopping item</p>
  <form action="/create" method="post" accept-charset="utf-8" class="collapse in" id="topmenu">

	    <table width="100%" border="0">
		    <tr>
		    	<td>Quantity</td>
		    	<td><input class="input" type="number" name="quantity" value="1" /></td>
		    </tr>
		    <tr>
		    	<td>Product</td>
		    	<td><input class="input" type="text" name="productName" /></td>
		    </tr>
		    <tr>
		    	<td>Store</td>
		    	<td>
		    	<select id="store" name='store' class="dropinput">
		    			<% stores.forEach( function ( item ){ %>
		    			<%if (item.id == selectedstore) {;%>
		    				<option value="<%= item.id %>" selected><%= item.storeName %></option>
		    			<% } else { %>
		    				<option value="<%= item.id %>"><%= item.storeName %></option>
		    			<% } %>
		    			<% }); %>
		    	</select>
		    	</td>
		    </tr>
		    <tr>
		    	<td>Dept</td>
		    	<td>
		    		<select id="dept" name='dept' class="dropinput"> 
		    			<% deptmenu.forEach( function ( dept ){ %>
		    			<%if (dept.id == selecteddept) {;%>
		    				<option value="<%= dept.id %>" selected><%= dept.deptName %></option>
		    			<% } else { %>
		    				<option value="<%= dept.id %>"><%= dept.deptName %></option>
		    			<% } %>
		    			<% }); %>
		    		</select>
		    	</td>
		    </tr>
		    <tr>
		    	<td><button type="button" data-toggle="collapse" data-target="#topmenu" class="btnadd btn-xs btn-default" style="border:1px #888 solid; float:left;margin:10px 0; padding: 4px 7px;">close</button></td>
		    	<td><button type="submit" class="btnadd btn-xs btn-default-add" style="margin:10px 0; padding: 4px 7px;">Add</button></td>
		    </tr>
		</table>
  </form>
</div>
</div>
</div>
<div class="row listpage tdc">

<% stores.forEach( function ( store ){ %>
<% var checkstore = false; %>

<% list.forEach( function ( item ){ %>

	<% if(item.store.length > 0){ %>
		<% item.store.forEach( function ( prod ){ %>
			<% if(prod.id == store.id){ %>
				<% checkstore = true; %>
			<% } %>

		<% }); %>
	<% } %>
<% }); %>

<% if(checkstore == true){ %>
      <div class="col-md-4 col-sm-6 col-xs-12 work-list">
        <h3><%= store.storeName %></h3>
        <div class="work-space">
        
		<% dept.forEach( function ( dept ){ %>

		<% var checkdept = false; %>
			<% list.forEach( function ( item ){ %>
				<% item.dept.forEach( function ( itemdept ){ %>

					<% if(itemdept.id == dept.id && store.id == item.store[0].id){ %>
						<% checkdept = true; %>

					<% } %>

				<% }); %>

			<% }); %>


			<% if(checkdept == true){ %>
				<h5><%= dept.deptName %></h5>
				<table width="100%" border="0" class="table table-striped">
				<% list.forEach( function ( item ){ %>

					<% if(item.dept[0].id == dept.id && item.store[0].id == store.id){ %>
					<tr>
					<td style="padding:5px; width:70%;"><a class="update-link" href="/edit/<%= item._id %>" title="Update this shopping item"><%= item.productName %></a></td>
						<% if (item.quantity > 1) { %>
						<td>Qty: <%= item.quantity %></td>
						<% } else { %>
						<td></td>
						<% } %>
					<td align="right"><a href="/destroy/<%= item._id %>"><img src="/images/x.png" width="15px"></a></td>
					
					</tr>
					<% } %>

				<% }); %>


				</table>
			<% } %>
		<% }); %>

        </div>
      </div>

<% } %>
<% }); %>
      </div>


