<% layout( 'layout' ) -%>

<div class="row tdc">
    <div class="col-sm-4 squeeze">
    <% if (message.length > 0) { %>
     <% for (var i = 0; i < message.length; i++) { %>
       <div class="alert alert-danger"><%= message[i].msg %></div>
     <% }; %>        
    <% } %>
  <form action="/createstore" method="post" accept-charset="utf-8">
    <table width="100%">
    <tr><td colspan=2><p style="font-size:16px;">Create new store </p></td></tr>
	    <tr>
	    	<td>Store</td>
	    	<td><input class="input" type="text" name="storeName" value="" /></td>
	    </tr>
	    <tr>
	    	<td>Address</td>
	    	<td><input class="input" type="text" name="address" /></td>
	    </tr>
      <tr>
        <td>Store Type</td>
        <td>
        <select id="storetype" name='storeType' class="dropinput">
        <option value="">Choose Store Type</option>
          <% storeTypes.types.forEach( function ( item ){ %>
            <option value="<%= item.id %>"><%= item.typeName %></option>
          <% }); %>
        </select>
        </td>
      </tr>
      <tr><td colspan="2"><button type="submit" class="btnadd btn-xs btn-default-add" style="margin:10px 0; padding: 4px 7px;">Add</button></td></tr>
	 </table>
  </form>
</div>
</div>


<div class="row">
    <div class="col-sm-4 work-list">
    <h3>Stores</h3>
          <div class="work-space">
          <table width="100%" border="0" class="table table-striped">
            <% stores.forEach( function ( item ){ %>
            <tr>
                <td style="padding:5px"><a class="update-link" href="/editstore/<%= item._id %>" title="Update this store"><%= item.storeName %></a></td>

                <td align="right"><a href="/destroystore/<%= item._id %>"><img src="/images/x.png" width="15px"></a></td>
            </tr>
            <% }); %>
            </table>

          </div>
        </div>
    </div>